openapi: 3.0.3
info:
  title: Voice Agent by Mirai Minds
  version: 1.1.0
  contact:
    name: API Architecture Team
    url: https://miraiminds.co
servers:
  - url: https://api.voice-agents.miraiminds.co
    description: Production Server
  - url: https://api.voicebot.miraiminds.co
    description: Staging Server

security:
  - PublicKeyAuth: []
    PrivateKeyAuth: []

paths:
  /v1/shopify/onboarding:
    post:
      summary: onboarding shopify store
      operationId: initializeWorkspace
      description: >
        Uploads the store's identity, trust metrics, and policies.
        Returns the Workspace ID and Billing Configuration (Prepaid/Overdraft limits).
      tags:
        - Onboarding
      parameters:
        - $ref: "#/components/parameters/PublicKeyHeader"
        - $ref: "#/components/parameters/PrivateKeyHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OnboardingRequest"
      responses:
        "201":
          description: Workspace Created & Billing Configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnboardingResponse"
        "400":
          description: Validation Error

  /assistant/create:
    post:
      summary: Create AI Assistant
      operationId: createAssistant
      tags:
        - Assistant Creation
      parameters:
        - $ref: "#/components/parameters/PublicKeyHeader"
        - $ref: "#/components/parameters/PrivateKeyHeader"
        - $ref: "#/components/parameters/WorkspaceHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssistantRequest"
      responses:
        "201":
          description: Assistant Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  assistant_id:
                    type: string
                  status:
                    type: string

  /v1/calls/initiate:
    post:
      summary: Initiate AI Call
      tags:
        - Call
      parameters:
        - $ref: "#/components/parameters/PublicKeyHeader"
        - $ref: "#/components/parameters/PrivateKeyHeader"
        - $ref: "#/components/parameters/WorkspaceHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InitiateCallRequest"
      responses:
        "200":
          description: Call queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InitiateCallResponse"

  /v1/calls/abort:
    post:
      summary: Abort Call
      tags:
        - Call
      parameters:
        - $ref: "#/components/parameters/PublicKeyHeader"
        - $ref: "#/components/parameters/PrivateKeyHeader"
        - $ref: "#/components/parameters/WorkspaceHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AbortCallRequest"
      responses:
        "200":
          description: Call aborted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbortCallResponse"

  /webhooks/call-events:
    post:
      summary: Call Events Webhook
      tags:
        - Call
      description: Receives call status and action events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookEvent"
      responses:
        "200":
          description: Event received

components:
  securitySchemes:
    PublicKeyAuth:
      type: apiKey
      in: header
      name: x-public-key
    PrivateKeyAuth:
      type: apiKey
      in: header
      name: x-private-key

  parameters:
    WorkspaceHeader:
      name: workspace
      in: header
      required: true
      schema:
        type: string
    PublicKeyHeader:
      name: x-public-key
      in: header
      required: true
      schema:
        type: string
    PrivateKeyHeader:
      name: x-private-key
      in: header
      required: true
      schema:
        type: string

  schemas:
    # ----------------------------------------------------------------
    # RESPONSE OBJECT (Updated per requirements)
    # ----------------------------------------------------------------
    OnboardingResponse:
      type: object
      properties:
        workspace:
          type: string
          example: "4524239459234"
          description: The unique key for all future API calls.

        status:
          type: string
          example: "active"
          enum: ["active", "pending_verification", "suspended"]

        billing:
          type: object
          properties:
            type:
              type: string
              example: "prepaid"
              enum: ["prepaid", "postpaid"]

            creditBalance:
              type: integer
              example: 100
              description: >
                Current available credits in workspace

            negativeCreditAllowance:
              type: integer
              example: 100
              description: >
                The 'Overdraft' limit. The AI will continue to make calls
                for 100 credit even if credits hit 0 before suspending.

    # ----------------------------------------------------------------
    # REQUEST OBJECTS (unchanged)
    # ----------------------------------------------------------------
    OnboardingRequest:
      type: object
      required:
        - storeIdentity
        - trustSignals
        - policyFramework
      properties:
        storeIdentity:
          $ref: "#/components/schemas/StoreIdentity"
        trustSignals:
          $ref: "#/components/schemas/TrustSignals"
        policyFramework:
          $ref: "#/components/schemas/PolicyFramework"

    StoreIdentity:
      type: object
      required:
        - shopDomain
        - currencyCode
        - supportContacts
      properties:
        shopDomain:
          type: string
          example: "brand.myshopify.com"
        storeName:
          type: string
          example: "The Leather Co."
        adminToken:
          type: string
        currencyCode:
          type: string
          example: "INR"
        timezone:
          type: string
          example: "Asia/Kolkata"
        supportContacts:
          type: object
          required:
            - phoneNumber
          properties:
            phoneNumber:
              type: string
              example: "+91-9876543210"
            email:
              type: string
              format: email
              example: "support@brand.com"

    TrustSignals:
      type: object
      required:
        - valuePropositionOneLiner
      properties:
        customersTillDate:
          type: integer
          example: 15400
        totalOrdersFulfilled:
          type: integer
          example: 50000
        storeRating:
          type: number
          example: 4.8
        valuePropositionOneLiner:
          type: string
          example: "Handcrafted in Jaipur using 100% sustainable vegan leather."

    PolicyFramework:
      type: object
      required:
        - return_policy
        - shipping_policy
        - cod_policy
      properties:
        return_policy:
          $ref: "#/components/schemas/ReturnPolicy"
        shipping_policy:
          $ref: "#/components/schemas/ShippingPolicy"
        cod_policy:
          $ref: "#/components/schemas/CodPolicy"

    ReturnPolicy:
      type: object
      properties:
        windowDays:
          type: integer
          example: 7
        processingFee:
          type: object
          properties:
            amount:
              type: number
              example: 50
        refundTimelineDays:
          type: integer
          example: 3

    ShippingPolicy:
      type: object
      properties:
        deliveryTimeline:
          type: object
          properties:
            minDays:
              type: integer
              example: 3
            maDays:
              type: integer
              example: 5
        freeShippingMinOrderValue:
          type: number
          example: 999

    CodPolicy:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
        additionalFee:
          type: object
          properties:
            amount:
              type: number
              example: 50
    # ----------------------------------------------------------------
    # ROOT REQUEST (The Wrapper)
    # ----------------------------------------------------------------
    AssistantRequest:
      type: object
      required:
        - type
        - agentIdentity
        - icpContext
        - callSettings
        - typeSettings 
        - callInsightPlan
      properties:
        type:
          type: string
          description: This value changes the validation rules for 'AdditionalContext'
          enum:
            - abandoned_cart
            - custom

        # --- COMMON BLOCKS (Shared by ALL Agents) ---
        agentIdentity:
          $ref: "#/components/schemas/AgentIdentity"

        icpContext:
          $ref: "#/components/schemas/ICPContext"

        callSettings:
          $ref: "#/components/schemas/CallSettings"

        typeSettings:
          type: object
          description: "Dynamic configuration based on assistant type."
          oneOf:
            - $ref: "#/components/schemas/AbandonedCartConfig"
            - $ref: "#/components/schemas/CustomAssistantConfig"
          discriminator:
            propertyName: type
            mapping:
              abandoned_cart: "#/components/schemas/AbandonedCartConfig"
              custom: "#/components/schemas/CustomAssistantConfig"

        callInsightPlan:
          $ref: "#/components/schemas/CallInsightPlan"

        trainingData:
          $ref: "#/components/schemas/TrainingData"

        knowledgeBase:
          $ref: "#/components/schemas/KnowledgeBase"

    AbandonedCartConfig:
      type: object
      required:
        - pitchFlow
        - discountRules
      properties:
        # 1. THE STRATEGIC SEQUENCE (The "Preferential Order")
        pitchFlow:
          type: array
          description: "The strict priority order of arguments the AI will use."
          minItems: 3
          items:
            type: string
            enum:
              - "company_usp_pitch" # Sell the Brand (Sustainable, Handmade)
              - "product_value_pitch" # Sell the Item (Leather, Specs)
              - "return_policy_assurance" # Sell the Safety (7-day returns)
              - "cod_availability_offer" # Sell the Convenience (Pay later)
              - "discount_offer" # Sell the Price (Last resort)
          example:
            - "company_usp_pitch"
            - "return_policy_assurance"
            - "discount_offer"

        # 2. DISCOUNT RULES (Specific to Sales)
        discountRules:
          type: object
          properties:
            canOffer:
              type: boolean
            maxPercent:
              type: integer
              example: 15

    CustomAssistantConfig:
      type: object
      required:
        - system_prompt
      properties:
        system_prompt:
          type: string
          description: "Comprehensive instruction including identity, ICP, store info, pitch, objections."
        endCall:
          type: string
          description: "Sentence to say when ending the call."

    RetryProtocol:
      type: object
      description: "Smart logic based on why the call failed."
      properties:
        maxAttemptsNoPickup:
          type: integer
          default: 2
          description: "Phone rang, no answer. Call back twice."

        maxAttemptsLowEngagement:
          type: integer
          default: 1
          description: "User picked up but said 'busy' or cut immediately. Call back once."

        reAttemptPeriod:
          type: integer
          default: 300
          description: "Delay between second reattempt of call to same person in seconds"

        maxRescheduleCount:
          type: integer
          default: 1
          maximum: 5
          description: "How many times we can reschedule a call when user ask to callback"

    CallSettings:
      type: object
      required:
        - slots
        - retryProtocol
      properties:
        slots:
          type: array
          description: "Array of time slots for call execution"
          minItems: 1
          items:
            type: object
            properties:
              startTime:
                type: string
                example: "10:00"
              endTime:
                type: string
                example: "13:00"

        maxCallDuration:
          type: number
          example: 200

        concurrentCallCount:
          type: number
          maximum: 10
          example: 5

        retryProtocol:
          $ref: "#/components/schemas/RetryProtocol"

    # ================================================================
    # SHARED COMPONENT: IDENTITY & ICP
    # ================================================================
    AgentIdentity:
      type: object
      properties:
        name:
          type: string
        gender:
          type: string
          enum: ["male", "female"]
        traits:
          type: array
          items:
            type: string
            enum:
              [
                "Elegant",
                "understated",
                "premium feel",
                "high energy",
                "sales focused",
                "persuasive",
                "professional",
                "Support",
              ]

    ICPContext:
      type: object
      properties:
        targetAgeGroups:
          type: array
          items:
            type: string
            enum: ["gen_z", "millennials", "gen_x", "boomers"]
          description: "Affects slang usage. Gen Z = 'Vibe'; Boomers = 'Quality'."

        locationTiers:
          type: array
          items:
            type: string
            enum: ["metro_urban", "tier1", "tier2", "tier3", "rural"]
          description: "Affects language complexity and speed."

        # add language array with preference
        languages:
          type: array
          items:
            type: string
            enum:
              [
                "english",
                "hindi",
                "telugu",
                "tamil",
                "kannada",
                "malayalam",
                "gujarati",
                "punjabi",
                "odia",
                "marathi",
              ]
          description: "Affects language complexity and speed."

        # male or female or child focus brand add array of enum
        targetAudience:
          type: array
          items:
            type: string
            enum: ["male", "female", "children"]
          description: "Affects language complexity and speed."

    CallStatus:
      type: string
      description: Current call status
      enum:
        - initiate
        - in-progress
        - ended
        - completed
        - timeout
        - failed
        - validation-failed
        - busy
        - no-answer
        - skip
        - rescheduled
        - aborted

    EventType:
      type: string
      description: Webhook event type
      enum:
        - call.initiate
        - call.in-progress
        - call.ended
        - call.completed
        - call.timeout
        - call.failed
        - call.validation-failed
        - call.busy
        - call.no-answer
        - call.skip
        - call.rescheduled
        - call.aborted
        - create-order
        - send-whatsapp

    WhatsappReason:
      type: string
      enum:
        - missing_address
        - improper_address
        - missing_first_name
        - send_payment_link

    InitiateCallRequest:
      type: object
      required:
        - number
        - assistant
        - payload
        - callbackUrl
      properties:
        number:
          type: string
          description: Phone number (E.164 recommended)
          example: "+919876543210"
        assistant:
          type: string
          description: Assistant ID
        payload:
          type: object
          description: Shopify abandoned cart payload or any other data that is relevant to the call
          additionalProperties: true
        callbackUrl:
          type: string
          format: uri
          description: HTTPS webhook URL
        priority:
          type: boolean
          description: "Call priority level"
          example: true
        metadata:
          type: object
          properties:
            discount:
              type: object
              properties:
                code:
                  type: string
                description:
                  type: string
                value:
                  type: number
                codeType:
                  type: string
                  description: "%tage or fixed"
          additionalProperties: true

    InitiateCallResponse:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/CallStatus"
        callId:
          type: string

    AbortCallRequest:
      type: object
      required:
        - callId
      properties:
        callId:
          type: string

    AbortCallResponse:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/CallStatus"
        callId:
          type: string

    WebhookEvent:
      type: object
      required:
        - event
      properties:
        event:
          type: object
          required:
            - type
            - data
          properties:
            type:
              allOf:
                - type: string
                - $ref: "#/components/schemas/EventType"
              description: "The event type"
            data:
              oneOf:
                - $ref: "#/components/schemas/CallCompletedData"
                - $ref: "#/components/schemas/CreateOrderData"
                - $ref: "#/components/schemas/SendWhatsappData"
          discriminator:
            propertyName: type
            mapping:
              call.completed: "#/components/schemas/CallCompletedData"
              create-order: "#/components/schemas/CreateOrderData"
              send-whatsapp: "#/components/schemas/SendWhatsappData"
        metadata:
          type: object
          additionalProperties: true

    CallCompletedData:
      type: object
      properties:
        callId:
          type: string
        durationSeconds:
          type: number
        startedAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        recordingUrl:
          type: string
        status:
          $ref: "#/components/schemas/CallStatus"
        price:
          type: number

    CreateOrderData:
      type: object
      properties:
        email:
          type: string
        phone:
          type: string
        lineItems:
          type: array
          items:
            type: object
        shippingAddress:
          type: object
          properties:
            firstName:
              type: string
            lastName:
              type: string
            address1:
              type: string
            address2:
              type: string
            city:
              type: string
            province:
              type: string
            zip:
              type: string
            country:
              type: string
            phone:
              type: string
        cartTotal:
          type: number
        codCharge:
          type: number
        discount:
          type: object
          properties:
            code:
              type: string
            reason:
              type: string

    SendWhatsappData:
      type: object
      properties:
        phone:
          type: string
        reason:
          $ref: "#/components/schemas/WhatsappReason"

    CallInsightPlan:
      type: object
      additionalProperties:
        $ref: "#/components/schemas/InsightField"
      description: "Map of insight names to their expected structure."

    InsightField:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: ["integer", "boolean", "string", "array"]
        description:
          type: string
        enum:
          type: array
          items:
            type: string
        items:
          $ref: "#/components/schemas/InsightField"

    TrainingData:
      type: object
      properties:
        faq:
          type: array
          description: "List of Question-Answer pairs for training."
          items:
            $ref: "#/components/schemas/faq"
        humanAgentAudioFiles:
          type: array
          description: "List of URLs to audio recordings of human agent calls."
          maxItems: 5
          items:
            type: string
            format: uri

    faq:
      type: object
      required:
        - question
        - answer
      properties:
        question:
          type: string
          example: "What is your return policy?"
        answer:
          type: string
          example: "We offer a 7-day return policy for unused items."

    KnowledgeBase:
      type: object
      properties:
        documents:
          type: array
          description: "List of large documents (PDF, Docx, TXT) for deep knowledge retrieval."
          items:
            type: object
            required:
              - url
              - title
            properties:
              url:
                type: string
                format: uri
                description: "Publicly accessible URL of the document."
              title:
                type: string
                description: "Name/Title of the document for citation."
              type:
                type: string
                enum: ["pdf", "txt", "docx", "markdown"]
